annotated-types==0.6.0
anyio==4.3.0
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
asciidoc==10.1.3
asn1crypto==1.4.0
Beaker==1.11.0
btrfsutil==5.16.2
CacheControl==0.12.6
catfish==4.16.3
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.1.7
colorama==0.4.4
contextlib2==0.6.0.post1
contourpy==1.2.0
cryptography==36.0.1
cycler==0.12.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docopt==0.6.2
evdev==1.4.0
exceptiongroup==1.2.0
fastapi==0.110.0
fonttools==4.50.0
gufw==21.4.0
h11==0.14.0
html5lib==1.1
httptools==0.6.1
idna==3.3
importlib-metadata==4.8.1
kazam==1.4.5
keyutils==0.6
kiwisolver==1.4.5
lensfun==0.3.95
LibAppArmor==3.0.4
lightdm-gtk-greeter-settings==1.2.2
lit==13.0.1.dev0
louis==3.20.0
lxml==4.7.1
Mako==1.1.6
manjaro-sdk==0.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.8.3
menulibre==2.2.3
more-itertools==8.10.0
msgpack==1.0.3
mugshot==0.4.3
netsnmp-python==1.0a1
networkx==3.2.1
npyscreen==4.10.5
numpy==1.26.4
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.23.2
pep517==0.12.0
pexpect==4.8.0
Pillow==9.0.1
ply==3.11
progress==1.6
psutil==5.9.0
ptyprocess==0.7.0
pybind11==2.9.1
pycairo==1.20.1
pycparser==2.21
pydantic==2.6.4
pydantic-core==2.16.3
PyGObject==3.42.0
pyinotify==0.9.6
pyOpenSSL==21.0.0
pyparsing==3.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PySide6==6.2.3
pysmbc==1.0.23
python-dateutil==2.9.0.post0
python-distutils-extra==2.39
python-dotenv==1.0.1
python-Levenshtein==0.12.2
PythonTurtle==0.3.2
pyxdg==0.27
PyYAML==6.0
rados==2.0.0
rbd==2.0.0
reportlab==3.6.6
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
scikit-fuzzy==0.4.2
scipy==1.12.0
shiboken6==6.2.3
six==1.16.0
sniffio==1.3.1
starlette==0.36.3
TBB==0.2
team==1.0
toml==0.10.2
tomli==2.0.0
typing-extensions==4.10.0
udiskie==2.4.1
ufw==0.36.1
ulauncher==5.14.3
urllib3==1.26.8
uvicorn==0.29.0
uvloop==0.19.0
watchfiles==0.21.0
webencodings==0.5.1
websocket-client==1.2.3
websockets==12.0
zipp==3.7.0
